body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px; 
    height: 400px;
}

.square {
    background-color: blue;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    position: relative;
}

.circle {
    background-color: green;
    border: 2px solid white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
